doc/fips 140-2 annex a.pdf
doc/IETF 6070 PBKDF2-HMAC-SHA1 Test Vectors.pdf
doc/IETF RFC 4231 Test Vectors HMAC-SHA224 -SHA256 -SHA384 -SHA512.txt.pdf
doc/NIST.FIPS.197.pdf
doc/PBKDF2 Test Vectors.pdf
doc/pbkdf2_test_vectors.R
doc/PBKDF2-HMAC_Test_Vector_Selection.RData
doc/PBKDF2-HMAC-SHA2 Test Vector - github.txt
doc/PBKDF2-HMAC-SHA2 Test Vectors.pdf
doc/PBKDF2-HMAC-Various_Test_Vectors-MD5.csv
doc/PBKDF2-HMAC-Various_Test_Vectors-SHA1.csv
doc/PBKDF2-HMAC-Various_Test_Vectors-SHA224.csv
doc/PBKDF2-HMAC-Various_Test_Vectors-SHA256.csv
doc/PBKDF2-HMAC-Various_Test_Vectors-SHA384.csv
doc/PBKDF2-HMAC-Various_Test_Vectors-SHA512.csv
doc/PBKDF2-HMAC-Various_Test_Vectors.ods
doc/pbkdf2.py.pdf
doc/PKCS -5 Password-Based Cryptography Specification IETF RCF 8018.pdf
doc/r-aes example.pdf
doc/r-aes example.txt
doc/SHA256inR.r
Python/pbkdf2.py
R/r-aes-example.r
R/pbkdf2.r
R/pbkdf2_test_vectors.R
doc/PBKDF2_R6_test_log_20220405.log
